div.modal-backdrop.fade.in

//- POPIN
// class "nw" has been added to skin container
div#modal.modal.popin.nw( tabindex="1" )
  // .hide.fade
  div#modalContent( data-zoom-level="0" )
    button.btn.btn-link.close-link(type="button", data-dismiss="modal")
      span Fermer

    div#popinContent.modalInner
      p.tt-04 La Prime Exceptionnelle
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ea quia nam fugit cupiditate ab odio, sapiente, tenetur asperiores voluptatem possimus, dolorum nostrum. Illo, asperiores in assumenda, facilis consequuntur nihil!

      p.tt Les conditions
      p.t Le logement :
      ul
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, error.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, error.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, error.

      p *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta odit optio distinctio. Quidem alias architecto explicabo adipisci corporis earum suscipit

      p *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptate doloremque quidem vitae corrupti ipsam ea, alias similique neque sequi, deleniti, accusantium odit possimus iusto error obcaecati vero nisi soluta.
        br
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi veritatis, fuga fugiat consequuntur, animi rerum ullam odio dolorum perferendis placeat quis neque facere sequi esse. Molestiae exercitationem, cum modi fugiat.



