
div#tabs
  ul
    li
      a( href="#tabs-1" ) Chauffage
    li
      a( href="#tabs-2" ) Solaire
    li
      a( href="#tabs-3" ) Isolation
  div#tabs-1
    table
      tr
        th.produits Produits mis en oeuvre
        th.organisme Organisme
        th.qualifications Qualifications RGE
      tr
        td Chaudière à condensation (Gaz et Fioul)
        td
          ul
            li Qualibat
            li Qualibat
            li Qualibat
        td
          ul
            li N° 8611 : Eco Artisan
            li N° 8621 : Les pros de la performance énergétique
            li N° 8632 : Efficacité énergétique "offre globale"
      tr
        td Poêle à granulés de bois
        td
          ul
            li Qualit’EnR
            li Qualibat
        td
          ul
            li QualiBois (module air)
            li N° 8411 : Installations thermiques bois énergie
      tr
        td Chaudière bois (granulés ou bûches)
        td
          ul
            li Qualit’EnR
            li Qualibat
        td
          ul
            li QualiBois (module eau)
            li N° 8411 : Installations thermiques bois énergie
      tr
        td Pompe à chaleur Air/Air
        td
          ul
            li Qualit’EnR
            li Qualibat
            li Qualifelec
        td
          ul
            li QualiPac
            li N° 8321 : Installations de pompes à chaleur aérothermiques
            li PACC 1 PACC2 mention économies d'énergie
      tr
        td Pompe à chaleur Air/Eau
        td
          ul
            li Qualit’EnR
            li Qualibat
            li Qualifelec
        td
          ul
            li QualiPac
            li N° 8321 : Installations de pompes à chaleur aérothermiques
            li PACC 1 PACC2 mention économies d'énergie
      tr
        td Pompe à chaleur Géothermique
        td
          ul
            li Qualit’EnR
            li Qualibat
            li Qualifelec
        td
          ul
            li QualiPac
            li N° 8311 : Installations de pompes à chaleur géothermiques
            li PACC 1 PACC2 mention économies d'énergie
  div#tabs-2
    table
      tr
        th.produits Produits mis en oeuvre
        th.organisme Organisme
        th.qualifications Qualifications RGE
      tr
        td Panneaux solaires photovoltaïques
        td
          ul
            li Qualit’EnR
            li Qualibat
            li Qualifelec
        td
          ul
            li QualiPv (module Bât)
            li N° 8111 : Modules photovoltaïques intégrés
            li SPV mention économies d'énergie
      tr
        td Chauffe-eau solaire individuel
        td
          ul
            li Qualit’EnR
            li Qualibat
        td
          ul
            li QualiSol CESI
            li N° 8211 : Chauffe-eau solaires ou systèmes solaires combinés
      tr
        td Système solaire combiné
        td
          ul
            li Qualit’EnR
            li Qualibat
        td
          ul
            li QualiSol Combi
            li N° 8211 : Chauffe-eau solaires ou systèmes solaires combinés
  div#tabs-3
    table
      tr
        th.produits Produits mis en oeuvre
        th.organisme Organisme
        th.qualifications Qualifications RGE
      tr
        td Fenêtres
        td
          ul
            li Qualibat
            li Qualibat
            li Qualibat
        td
          ul
            li N° 8611 : Eco Artisan
            li N° 8621 : Les pros de la performance énergétique
            li N° 8632 : Efficacité énergétique "offre globale"
      tr
        td Isolation du sol
        td
          ul
            li Qualibat
            li Qualibat
            li Qualibat
        td
          ul
            li N° 8611 : Eco Artisan
            li N° 8621 : Les pros de la performance énergétique
            li N° 8632 : Efficacité énergétique "offre globale"
      tr
        td Isolation des combles
        td
          ul
            li Qualibat
            li Qualibat
            li Qualibat
        td
          ul
            li N° 8611 : Eco Artisan
            li N° 8621 : Les pros de la performance énergétique
            li N° 8632 : Efficacité énergétique "offre globale"
      tr
        td Isolation thermique par l'extérieur
        td
          ul
            li Qualibat
            li Qualibat
            li Qualibat
        td
          ul
            li N° 8611 : Eco Artisan
            li N° 8621 : Les pros de la performance énergétique
            li N° 8632 : Efficacité énergétique "offre globale"
      tr
        td Isolation thermique par l'intérieur
        td
          ul
            li Qualibat
            li Qualibat
            li Qualibat
        td
          ul
            li N° 8611 : Eco Artisan
            li N° 8621 : Les pros de la performance énergétique
            li N° 8632 : Efficacité énergétique "offre globale"
      tr
        td VMC
        td
          ul
            li Qualibat
            li Qualibat
            li Qualibat
            li Qualifelec
        td
          ul
            li N° 8611 : Eco Artisan
            li N° 8621 : Les pros de la performance énergétique
            li N° 8632 : Efficacité énergétique "offre globale"
            li VM1 ou VM2 mention économies d'énergie



