// color;
dark           = #333333
black          = #000000
light          = #888888
greybd         = #eeeeee
greybg         = #f8f8f8
white          = #ffffff
orange         = #f25000
dark-orange    = #a82b00
saumon         = #ffdfcf

// url;
url-medias     = '/medias/';
url-font       = '@{url-medias}fonts/';
url-img        = '@{url-medias}imgs/';
url-dyn        = '@{url-medias}dyn/';
url-ie         = '@{url-img}fallback/';
url-bg         = '@{url-dyn}backgrounds/';

// Misc
round          = 3;
transition     = 300ms
degree         = -30deg
rdegree        = 30deg


// LEGACY
// --------------------------------------------------

// Typography
// -------------------------

// Size
baseFontSize       = 14px;
baseLineHeight     = baseFontSize * 1.2857;
paragraphFontSize  = 14px;
paragrapLineHeight = paragraphFontSize * 1.2857;

// Para Margins
paragraphMargin=           1mm 0;
sectionTopMargin=          3mm;
