{{#chars}}
@icon-{{name}} : {{{escapedFontFamily}}} '"\\{{{value}}}"';
{{/chars}}

.iconFontFamily( @char ){
   font-family: ~`@{char}[0]`;
}

.iconFont(){
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 1;
   speak: none;
   text-transform: none;
}

.iconContent( @char ){
	content: ~`@{char}[1]`;
}

.icon( @char ){
   .iconContent( @char );
   .iconFontFamily( @char );
   .iconFont();
}

.font-face( {{{escapedFontFamily}}}, "@{url-font}{{{fontFamily}}}" );
