extends _layout

block vars
  title= "Cédric Magnin, UX design, Nantes"

block content

  nav
    ul
      li: a(href="#hello").scrollto.active Hello,
      li: a(href="#actions").scrollto I do things
      li: a(href="#projects").scrollto to solve problems
      li: a(href="#focus").scrollto through design.
      li: a(href="#reference").scrollto What I did before
      li: a(href="#me").scrollto made who I am.

  section#hello
    div.container
      h1
        | Hello, I am Cédric Magnin. I am a French UX designer in Nantes, France.

  section#actions
    div.container
      h2 I do things
      ul
        li
          span.fa.fa-square-o
          |  Learn Grunt, Jade, Stylus... well, 
          a(href="#") this website
          | .
        li
          span.fa.fa-square-o
          |  Design the products of 
          a(href="#") Energie Perspective
          | .
        li
          span.fa.fa-square-o
          |  Rub my belly with 
          a(href="#") the current fame of Energie Perspective
          | .

  section#projects
    div.container
      h2 to solve problems
      div
        h3 Prepare the new objectives for France energy transition
        p
          | Lorem Ipsum
      div
        h3 Help people to renovate their house
        p
          | Lorem Ipsum
      div
        h3 Enhance design culture of EP
        p
          | Lorem Ipsum

  section#focus
    div.container
      h2 through design
      p.baseline
        | Some inspirations
      div
        h3 Designers
        p
          | Lorem Ipsum
      div
        h3 Readings
        p
          | Lorem Ipsum
      div
        h3 Blogs
        p
          | Lorem Ipsum

  section#reference
    div.container
      h2 What I did before
      p.baseline
        | I worked as a UX designer on submissions bids, conceptions and consultings for the clients and prospects of Digitas France.
        br
        | Interaction design, information architecture, service design, are the various domains I covered at this position.
      ul
        li 
          | Michelin : Appel d’offres puis AI et design d’interaction sur Acceleration, le nouvel ecosystème digital de Michelin. Relation client en anglais.
        li 
          | Nissan Europe : AI et design d’interaction sur la plateforme client Europe. Relation client en anglais.
        li 
          | Pages Jaunes : Appel d’offres puis design d’interaction sur le portal pagesjaunes.fr. 4 mois en conception en interne chez le client
        li 
          | Whirlpool : AI et design d’interaction sur le portail e-commerce
        li 
          | Renault : AI et entretiens exploratoires pour la Division Entreprise
        li 
          | Wonderbra : Supervision de la conception de l’app mobile Decoder
        li 
          | Hennessy : AI et design d’exploration sur hennessy.com

  section#me
    div.container
      h2 made who I am
      p.baseline
        | Say hello too
      p.baseline
        | Logos
      p.baseline
        | Résumé








      














