
.wp
  margin 0 auto
  width 940px
  
p.headline
  max-width: 720px
  margin: 10px auto 0 auto
  
section
  padding 60px 0
  
  &#hero
    
    nav
      a.nav-mobile
        display none
      ul
        display: block
        float: right
        margin 0
      
    .promesse
      margin 0px 80px
      margin-top 20%
          
  &#parcours
    
    p.headline
      margin-bottom: 60px
      
    .parcours
      .plot
        margin-bottom: 100px
        margin-top: 20px
      > div
        clear: none
        width: 45%
        float: left
      .left
        float: left
        .plot
          float: right
          margin-right 0
          margin-left 40px
      .right
        float: right
        margin-top: 100px
        &.sec
          margin-top: 0
        
  &#call
    p.tel
      padding 30px 10px
      font-size: 2.6em
      display: block
      margin 20px auto 40px auto
      

  &#organismes
    
    ul.organismes
      margin-top: 40px
      li
        text-align: left
        width 220px
        margin: 0 10px
        
  &#equipe
    .equipe
      margin-top: 60px
      li
        float: left
        width 33%
        text-align: center
        clear: none
        img
          float: none
          margin-right: 0
          width auto
        h4
          margin-top: 60px
        p
          text-align: left
          max-width 280px
          margin: 0 auto
          

  &#contact
    padding-bottom: 40px
    .contact
      clearfix()
      padding-top: 40px
      
      > div
        text-align: left
        float: left
        width 33%
        &:last-child
          padding-top: 55px
        

footer
  a.brand
    position absolute
    top 0
    left 0
  p
    padding 24px 0
      

#tabs
  
  > ul
    margin: 40px auto
    font-size: 1.85em
    li
      margin: 0 40px
      a
        display: inline-block
        padding 10px 20px
  table
    th
    td
      padding 20px
      

          