      

// a.button
//   font-style: normal
//   display: inline-block
//   text-decoration: none
//   background: orange
//   box-shadow: 6px 6px dark-orange
//   color white
//   transition transition
//   radius(0 0 20px)
      
//   &:hover
//     box-shadow: 4px 4px dark

//   // &.parallelogram
//   //   font-style: normal
//   //   -webkit-transform: skew(degree)
//   //   -moz-transform: skew(degree)
//   //   -o-transform: skew(degree)
    
//   //   span
//   //     display: inline-block
//   //     -webkit-transform: skew(rdegree)
//   //     -moz-transform: skew(rdegree)
//   //     -o-transform: skew(rdegree)
      
//   &.transparent
//     border 1px solid greybg
    
//     transition transition
      
//     &:hover
//       box-shadow: 2px 2px greybg
  
//   &.big
//     padding 15px 20px
//     font-size: 1.6em
//     text-transform: uppercase
  
//   &.small
//     padding 15px 20px
//     font-size: 1.2em