
form
    
  input[type="text"]
  input[type="email"]
  textarea
    padding 15px
    border-radius 4px
    color dark
    border 1px solid greybd
    &::-webkit-input-placeholder
      color light
    &:-moz-placeholder
      color light
    &::-moz-placeholder
      color light
    &:-ms-input-placeholder
      color light
    &:focus
      outline none
    
  fieldset
    border none
    text-align: center
    padding-top: 40px

    select
      width: 310px
    
    span
      &:focus
        outline none
      &.ui-state-default
        border 1px solid greybd
        background: none
        background: white
        color light
        .ui-icon
          background url(../medias/imgs/arrow-down.jpg) center center no-repeat
      &.ui-selectmenu-button
        span.ui-selectmenu-text
          padding 15px 20px

// .ui-widget
//   font-family: 'Lato' Arial
//   font-size: 1em
// .ui-widget-content
//   border 1px solid greybd
//   background: none
//   background: white
//   color dark
// .ui-menu .ui-menu-item
//   padding 15px 20px
// .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
//   border-radius 0
// form .ui-state-hover, form .ui-widget-content .ui-state-hover, form .ui-widget-header .ui-state-hover, form .ui-state-focus, form .ui-widget-content .ui-state-focus, form .ui-widget-header .ui-state-focus
//   border 1px solid greybd
//   background: greybg
//   color light