

// Header en absolute, pas fixe

section
  &#hero
    nav
      position absolute
      
  &#organismes
    ul.organismes
      li
        width 215px
        margin: 0 10px

  &#contact
    .contact
      > div
        a.button
          margin-left: 15px