//  TABLE
  
table
  width 100%
  margin: 0 auto
  border-collapse collapse
  th
  td
    border 1px solid greybd
    padding 10px 30px
    vertical-align middle
  th
    text-align: left
    background: greybg
    position relative
    span.fa
      position absolute
      right -10px
      background: white
      margin-top: -5px
  td