// @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)

// body
//   font-family 'Lato', Arial, sans-serif
//   font-weight 400
//   font-size baseFontSize
//   line-height baseLineHeight
//   color dark
//   background white
  
// a
//   color dark
//   text-decoration underline
//   &:hover
//     text-decoration none

// ul
//   margin: 0
//   padding 0
//   li
//     list-style-type none
//     margin: 0
//     padding 0
  
// h1
//   font-weight 700
//   font-size 2.6em
//   line-height 1.2em
//   text-transform: uppercase
//   // font-style: italic
//   color white
//   margin 0 0 10px 0
  
// h2
//   font-weight 700
//   font-size 2.4em
//   line-height 1.2em
//   text-align: center
//   text-transform: uppercase
//   margin-bottom: 20px

// p.headline
//   font-weight: 300
//   font-size: 1.4em
//   text-align: center
//   line-height: 1.2em
//   &.white-bg
//     color light
//   &.color-bg
//     color white
  
// h3
//   font-weight 400
//   font-size 1.85em
//   line-height: 1.3em
  
// h4
//   font-weight 700
//   font-size 1.4em
//   text-transform: uppercase
  
// h5
//   font-weight: 400
//   font-size: 2em
//   text-transform: uppercase